/* Media query för telefon Telefon: iPhone 11 Pro */

@media screen and (max-width: 600px){

    #companyLogo img{
        display: none;
       
    }

    body{
        text-align: center;
    }
    
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    input{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

  

    input:focus{
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 auto;
        padding: 10px;
        width: 300px;
        margin-bottom: 10px;    
        font-size: 15px;
        background-color: #f2f2f2;
    }

    #makePost{
        width: 300px;
        height: 300px;
        margin: auto;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #f2f2f2;
        text-align: center;
        padding: 10px;
    }

    #returnToProfile{
        width: 300px;
        height: 250px;
        margin: auto;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #f2f2f2;
        text-align: center;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #post{
        width: 300px;
        height: 100%;
        margin: auto;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        background-color: #f2f2f2;
        text-align: center;
    }

    #post p{
        text-align: center;
        background-color: #b4b2b2;
        color: rgb(0, 0, 0);
        border-radius: 5px;
        padding: 5px;
        margin: auto;
        margin-bottom: 10px;
        width: 250px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        overflow-wrap: break-word;
    }

    #post h2{
        overflow-wrap: break-word;
        position: absolute;
        left: auto;
        margin: 0;
        max-width: 170px;
        background-color: #b4b2b2;
        color: rgb(0, 0, 0);
        font-size: 30px;
        border-radius: 5px;
        padding: 5px;
        
    }

    #post img{
        max-width: 200px;
        max-height: 150px;
        margin: auto;
        display: block;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 20px;
        border: 1px solid black;
    
    }
}