<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toothbook</title>
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/Media Queries/Phone/editPhone.css">
    <link rel="stylesheet" href="/css/Media Queries/Tablet/editTablet.css">
    <link rel="icon" type="image/x-icon" href="/icons/tooth.ico">
</head>
<body>

    <div id="companyLogoHeader">
        
        <img src="/img/companylogo.png" alt="companylogo">
    
    </div>

    <!-- Redigera andvändarnamn, uppdateras på databasen. -->
    <div id="inputs">
        
        <h1>Edit Profile</h1> 
        <form action="/edit" method="post">
            <input type="text" name="username" id="" placeholder="New Username">

            <br>    
            
            <input type="submit" value="SAVE">
        
        </form>

        <!-- Tebaks te "login" -->
        <h1>Go Back</h1>
        <a href="/login"><button>PROFILE</button></a>

    </div>
  

    
</body>
</html>

